@import url('cousine.css');

@keyframes cursor_blink {
	0%   {opacity: 0}
	20%  {opacity: 0}
	80%  {opacity: 1}
	100% {opacity: 1}
}

.font-monospace {
	font-family: 'Cousine',var(--bs-font-monospace) !important;
}

.terminal-nav::after {
	content: "";
	background: white;
	height: 1.5rem;
	width: 2px;
	margin-left: 0.5rem;
	opacity: 0;
	animation-name: cursor_blink;
	animation-duration: 0.75s;
	animation-direction: alternate;
	animation-iteration-count: 20;
}

.terminal-header {
	position: relative;
	overflow: hidden;
	width: auto;
	line-height: 3.5rem;
	padding-left: 0;
	padding-right: 0;
	margin-left: calc(var(--bs-gutter-x) * .5);
	margin-right: calc(var(--bs-gutter-x) * .5);
	font-weight: 700;
}

.terminal-header::after {
	content:  "=======================";
	position: absolute;
	bottom: -1.5rem;
	left: 0;
}

.terminal-hr {
	background: none;
	border-top: 1px dashed #f8f9fa;
}

.terminal-list {
	list-style-type: none;
	font-weight: 700;
}

.terminal-list ul {
	list-style-type: none;
	font-weight: initial;
	padding: revert;
}

.terminal-list ul li::before {
	content: "-";
	padding-right: 0.5rem;
}

.terminal-diagram {
	white-space: pre;
	line-height: normal;
}

.nav-link.terminal-link {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0;
}

.terminal-link {
	color: #0dcaf0;
	width: auto;
}

.terminal-link:hover {
	background-color: #0dcaf0;
	color: #fff;
}

@media (min-width: 992px) {
	.w-lg-50 {
		width: 50% !important;
	}
}

#profile_image {
	width: 350px;
	height: 350px;
}


.c-alias {cursor: alias;}
.c-all-scroll {cursor: all-scroll;}
.c-auto {cursor: auto;}
.c-cell {cursor: cell;}
.c-context-menu {cursor: context-menu;}
.c-col-resize {cursor: col-resize;}
.c-copy {cursor: copy;}
.c-crosshair {cursor: crosshair;}
.c-default {cursor: default;}
.c-e-resize {cursor: e-resize;}
.c-ew-resize {cursor: ew-resize;}
.c-grab {cursor: grab;}
.c-grabbing {cursor: grabbing;}
.c-help {cursor: help;}
.c-move {cursor: move;}
.c-n-resize {cursor: n-resize;}
.c-ne-resize {cursor: ne-resize;}
.c-nesw-resize {cursor: nesw-resize;}
.c-ns-resize {cursor: ns-resize;}
.c-nw-resize {cursor: nw-resize;}
.c-nwse-resize {cursor: nwse-resize;}
.c-no-drop {cursor: no-drop;}
.c-none {cursor: none;}
.c-not-allowed {cursor: not-allowed;}
.c-pointer {cursor: pointer;}
.c-progress {cursor: progress;}
.c-row-resize {cursor: row-resize;}
.c-s-resize {cursor: s-resize;}
.c-se-resize {cursor: se-resize;}
.c-sw-resize {cursor: sw-resize;}
.c-text {cursor: text;}
.c-w-resize {cursor: w-resize;}
.c-wait {cursor: wait;}
.c-zoom-in {cursor: zoom-in;}
.c-zoom-out {cursor: zoom-out;}
