<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="A website">
		<meta name="author" content="Matthew Turner">
		<title>Website - Verses</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css" />
		<link rel="stylesheet" type="text/css" href="css/sheets-of-paper-usletter.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>
	<body class="document">
		<div class="page">
			<div class="header">
				<h1>My Favorite Verses</h1>
				<a id="FavoriteVerses"></a>
			</div>
			<hr class="tapered-hr" />

			<blockquote class="verse">
				<p><q>I have told you these things, so that in me you may have peace. In this world you will have trouble. But take heart! I have overcome the world.</q></p>
				<cite>John 16:33</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					This is a guarantee from the creator of the universe that in this world we will have trouble. It does not mean there is anything wrong with us, and it does not mean God doesn't love us. He also reminds us that our future is secure and we have hope because He has overcome the world.
				</p>
			</div>

			<blockquote class="verse">
				<p>Do not be anxious about anything, but in every situation, by prayer and petition, with thanksgiving, present your requests to God. And the peace of God, which transcends all understanding, will guard your hearts and your minds in Christ Jesus.</p>
				<cite>Philippians 4:6-7</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					Anxiety is something I've struggled with a lot. This is a reminder to take that to God and to accept His peace.
				</p>
			</div>

			<blockquote class="verse">
				<p>Why, my soul are you downcast? Why so disturbed within me? Put your hope in God, for I will yet praise him, my Savior and my God.</p>
				<cite>Psalm 42:11</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					Seeing the struggle of those in the past as they have to remind themselves to have hope in God is helpful when I have similar struggles today. The use of the word 'disturbed' is probably what drew me to this verse initially as at the time it described perfectly how I felt.
				</p>
			</div>

			<blockquote class="verse">
				<p>Search me, God, and know my heart; test me and know my anxious thoughts. See if there is any offensive way in me, and lead me in the way everlasting.</p>
				<cite>Psalm 139:23-24</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					I like this verse as a prayer for myself. It is a plea for God to illuminate what is wrong with me and to lead me away from it from an understanding perspective.
				</p>
			</div>

			<blockquote class="verse">
				<p>And we know that in all things God works for the good of those who love him, who have been called according to his purpose.</p>
				<cite>Romans 8:28</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					This is a good reminder that God is not out to get us, but that he works for our own good.
				</p>
			</div>

		</div> <!-- Page 1 -->
		<div class="page">
			<blockquote class="verse">
				<p>Seek the Lord while he may be found; call on him while he is near. Let the wicked forsake their ways and the unrighteous their thoughts. Let them turn to the Lord, and he will have mercy on them, and to our God, for he will freely pardon.</p>
				<cite>Isaiah 55:6-7</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					Another good reminder. This one to seek the Lord because even if we are wicked and unrighteous God is willing to have mercy and to pardon our sins if only we are willing to change our ways.
				</p>
			</div>

			<blockquote class="verse">
				<p>For we are God's handiwork, created in Christ Jesus to do good works, which God prepared in advance for us to do.</p>
				<cite>Ephesians 2:10</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					When I'm feeling lost and purposeless, the idea that God has prepared good works in advance for me to do, is a source of comfort.
				</p>
			</div>

			<blockquote class="verse">
				<p>If any of you lacks wisdom, you should ask God, who gives generously to all without finding fault, and it will be given to you.</p>
				<cite>James 1:5</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					This is another source of comfort as I often feel like I lack wisdom. I know God is willing to help keep me on track.
				</p>
			</div>

			<blockquote class="verse">
				<p>Consider it pure joy, my brothers and sisters, whenever you face trials of many kinds, because you know that the testing of your faith produces perseverance. Let perseverance finish its work so that you may be mature and complete, not lacking anything.</p>
				<cite>James 1:2-4</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					As Jesus promised us, there will be trouble in this life. It is good to know that God can use the trouble for our own good.
				</p>
			</div>

			<blockquote class="verse">
				<p>Trust in the Lord with all your heart and lean not on your own understanding.</p>
				<cite>Proverbs 3:5</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					There are so many things I don't understand. If everything I did was based solely on my own understanding things would certainly not turn out great. This is a good reminder to just trust God, even when I don't know what's going to happen.
				</p>
			</div>

		</div> <!-- Page 2 -->

		<div class="page">
			<blockquote class="verse">
				<p>For the entire law is fulfilled in keeping this one command:  <q>Love your neighbor as yourself.</q></p>
				<cite>Galatians 5:14</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					The intent of God's law.
				</p>
			</div>

			<blockquote class="verse">
				<p>What shall we conclude then? Do we have any advantage? Not at all! For we have already made the charge that Jews and Gentiles alike are all under the power of sin. As it is written:  <q>There is no one righteous, not even one.</q></p>
				<cite>Romans 3:9-10</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					<q>As it is written:  <q>There is no one righteous, not even one.</q></q> This is so obviously true and it highlights how amazing God's grace is.
				</p>
			</div>

			<blockquote class="verse">
				<p>Do you not know? Have you not heard? The Lord is the everlasting God, the creator of the ends of the earth. He will not grow tired or weary, and his understanding no one can fathom.</p>
				<cite>Isaiah 40:28</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					Simple. God is powerful.
				</p>
			</div>

			<blockquote class="verse">
				<p>He says, <q>Be still, and know that I am God; I will be exalted among the nations, I will be exalted in the earth.</q></p>
				<cite>Psalm 46:10</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					Be still, and know that God is powerful. His plans will come to pass.
				</p>
			</div>

			<blockquote class="verse">
				<p><q>For I know the plans I have for you,</q> declares the Lord, <q>plans to prosper you and not to harm you, plans to give you hope and a future.</q></p>
				<cite>Jeremiah 29:11</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					Sometimes I stress about my future, or the apparent lack there-of. When that happens I just remind myself that God has plans for me and they are for my good.
				</p>
			</div>

			<blockquote class="verse">
				<p><q>I have not spoken in secret, from somewhere in a land of darkness:  I have not said to Jacob's descendants, <q>seek me in vain.</q> I, the Lord, speak the truth; I declare what is right.</q></p>
				<cite>Isaiah 45:19</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					God is real. God does not hide. Seek him by seeking truth.
				</p>
			</div>
		</div><!-- Page 3 -->

		<div class="page">
			<blockquote class="verse">
				<p>He will wipe every tear from their eyes. There will be no more death or mourning or crying or pain, for the old order of things has passed away.</p>
				<cite>Revelation 21:4</cite>
			</blockquote>
			<div class="indent">
				<p>
					<span class="bold">Why: </span>
					A future we can look forward to.
				</p>
			</div>

		</div>
	</body>
</html>
