<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="A website">
		<meta name="author" content="Matthew Turner">
		<title>Website - Why Believe</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css" />
		<link rel="stylesheet" type="text/css" href="css/sheets-of-paper-usletter.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>
	<body class="document">
		<div class="page">
			<div class="header">
				<h1>Why Believe</h1>
				<a id="WhyBelieve"></a>
			</div>
			<hr class="tapered-hr" />

			<!-- Importance -->
			<section>
				<h2>Why does it matter?</h2>
				<p>The truth is, without God the conclusion of a meaningless, valueless, purposeless universe is unavoidable. Without meaning, value, and purpose, a happy life consistent with reality is impossible. Many people say life is about &quot;finding your own purpose&quot; and other such nonsense. In reality, doing anything of the sort in a meaningless, valueless, purposeless universe is a practice in self-delusion. If God is real it allows for the possibility of:&nbsp;&nbsp;<em>meaning</em> &mdash; that is our lives could have importance, <em>value</em> &mdash; that is right and wrong or good and evil, and <em>purpose</em> &mdash; that is there could be some reason for existence. God's existence would allow for a life that is both happy <em>and</em> consistent, not requiring any self-delusion. Abundant life is found in a life abandoned to God.</p>
			</section> <!-- Importance -->
			<!-- Good News -->
			<section>
				<h2>The good News</h2>
				<p>Of course, believing in something just because it is a better situation for your life is also self-delusion. The good news is that you don't have to throw away reason or intelligence to believe in God. God and The Bible invite us to explore reality to find Him.</p>
				<blockquote class="verse">
					<p><q>I have not spoken in secret, from somewhere in a land of darkness; I have not said to Jacob's descendants, <q>seek me in vain.</q> I, the Lord, speak the truth; I declare what is right.</q></p>
					<cite>Isaiah 45:19</cite>
				</blockquote>
				<p>In the following sections we will be taking a cursory glance at the philosophical evidence for God, the scientific evidence for God, and the historical evidence for Jesus. This web page is in no way a complete collection of evidence for God, instead it lays out the main pillars that have helped develop and sustain the most important thing in my life:&nbsp;&nbsp;A relationship with God.</p>
			</section> <!-- Good News -->
		</div>

		<div class="page">
			<div class="header">
				<h2>The Philosophical Evidence</h2>
				<a id="PhilosophicalEvidence"></a>
			</div>
			<hr class="tapered-hr" />
			<blockquote>
				<p><q>Would it not be strange if a universe without purpose accidentally created humans who are so obsessed with purpose?</q></p>
				<cite>Sir John Templeton</cite>
			</blockquote>
		</div>

		<div class="page">
			<div class="header">
				<h2>The Scientific Evidence</h2>
				<a id="ScientificEvidence"></a>
			</div>
			<hr class="tapered-hr" />
			<blockquote>
				<p><q>It is hard to resist the impression that the present structure of the universe, apparently so sensitive to minor alterations in numbers, has been rather carefully thought out. &#8230; The seemingly miraculous concurrence of these numerical values must remain the most compelling evidence for cosmic design.</q></p>
				<cite>Physicist Paul Davies</cite>
			</blockquote>
		</div>

		<div class="page">
			<div class="header">
				<h2>The Historical Jesus</h2>
				<a id="HistoricalJesus"></a>
			</div>
			<hr class="tapered-hr" />
			<!-- Footer -->
			<footer>
				<hr class="tapered-hr" />
				<span>&copy; 2020-2023 Matthew Turner</span>
				<div class="tooltip">
					<a href="#WhyIBelieve"><img id="cross" src="img/cross.svg" alt="Colossians 3:17" /></a>
					<span class="tooltip-text">And whatever you do, whether in word or deed, do it all in the name of the Lord Jesus, giving thanks to God the Father through him.<br/><span style="float: right">Colossians 3:17(NIV)</span></span>
				</div>
			</footer>
		</div>
	</body>
</html>
