<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block meta %}
		{% endblock %}

		<!-- OpenGraph Meta Tags -->
		{% block opengraph %}
		<meta property="og:title" content="Matthew Turner">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://matthewturner.io/">
		{% endblock %}

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="/css/main.css">

		{% block css %}
		{% endblock %}

		<title>Matthew Turner {% block title %}{% endblock %}</title>
	</head>
	<body class="bg-dark text-light font-monospace">
		<div class="container">
			<div class="mx-lg-5 px-lg-5">
				<header class="py-4">
					<div class="d-flex flex-column flex-xl-row">
						<ul class="nav terminal-nav my-xl-auto">
							<li><a href="/index.html" class="text-decoration-none text-warning d-inline d-md-none">mt</a><a href="/index.html" class="text-decoration-none text-warning d-none d-md-inline">matt@matthewturner.io</a><span>:</span>{% block path %}{% endblock %}<span class="ps-2">λ</span></li>
						</ul>
						<ul class="nav ms-xl-auto">
							{% block navlist %}
							{% endblock %}
						</ul>
					</div>
				</header>

				<main>
				{% block main %}
				{% endblock %}
				</main>

				<footer class="border-top border-secondary py-2">
					<span>&copy; 2020-2023 Matthew Turner</span>
					<img src="/img/light_cross.svg" alt="cross" height="14" data-bs-toggle="tooltip" data-bs-template='<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner text-start"></div></div>' data-bs-html="true" title='<span>And whatever you do, whether in word or deed, do it all in the name of the Lord Jesus, giving thanks to God the Father through him.</span><br><span class="ps-5">Colossians 3:17(NIV)</span>'>
				</footer>
			</div>
		</div> <!-- container -->

		<!-- bootstrap -->
		<script src="/js/bootstrap.bundle.min.js"></script>
		<!-- custom js -->
		<script src="/js/img_box.min.js"></script>
		{% block js %}
		{% endblock %}
		<!-- initialize tooltips -->
		<script>
			// Initialize Tooltips
			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			  return new bootstrap.Tooltip(tooltipTriggerEl)
			})
		</script>
		<!--
			    _/    _/            _/  _/
			   _/    _/    _/_/    _/  _/    _/_/
			  _/_/_/_/  _/_/_/_/  _/  _/  _/    _/
			 _/    _/  _/        _/  _/  _/    _/
			_/    _/    _/_/_/  _/  _/    _/_/



			   _/      _/                                      _/
			_/_/_/_/  _/_/_/      _/_/    _/  _/_/    _/_/    _/
			 _/      _/    _/  _/_/_/_/  _/_/      _/_/_/_/  _/
			_/      _/    _/  _/        _/        _/
			 _/_/  _/    _/    _/_/_/  _/          _/_/_/  _/
		-->
	</body>
</html>
