{% extends 'templates/base.html' %}

{% block meta %}
<meta name="author" content="{{ post.author }}">
<meta name="description" content="{{ post.description }}">
{% endblock %}

{% block opengraph %}
<meta name="og:site_name" content="Matthew Turner">
<meta name="og:title" content="{{ post.title }}">
{% if post.og_description %}
<meta name="og:description" content="{{ post.og_description }}">
{% else %}
<meta name="og:description" content="{{ post.description }}">
{% endif %}
<meta name="og:type" content="article">
<meta name="article:author" content="{{ post.author }}">
<meta name="article:published_time" content="{{ post.date }}">
<meta name="og:url" content="https://matthewturner.io{{ post.url }}">
{% if post.og_img %}
<meta name="og:image" content="{{ post.og_img }}">
{% endif %}
{% endblock %}

{% block title %}- {{ post.title }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/plain_post.css">
{% endblock %}

{% block path %}
<a href="/index.html" class="text-decoration-none text-info d-none d-md-inline">~</a><span class="text-info d-none d-md-inline">/</span><a href="/posts.html" class="text-decoration-none text-info d-none d-md-inline">posts</a><span class="text-info">/</span><a href="{{ post.url }}" class="text-decoration-none text-info">{{ post.id }}</a>
{% endblock %}

{% block navlist %}
<li><a href="/index.html" class="nav-link text-secondary" title="home">~/</a></li>
<li><a href="/about.html" class="nav-link text-secondary">~/about/</a></li>
<li><a href="/projects.html" class="nav-link text-secondary">~/projects/</a></li>
<li><a href="/posts.html" class="nav-link text-secondary">~/posts/</a></li>
{% endblock %}

{% block main %}
<div class="mb-4"><small class="text-secondary">Written by {{ post.author }} on {{ post.date }}</small></div>

{{ post.content }}

{% if post.tags or post.description %}
<div class="mt-2">
{% if post.tags %}
<small class="text-secondary">Tags:</small>
<ul class="list-inline text-secondary me-auto ps-3">
	{% for tag in post.tags %}
	<li class="list-inline-item">[{{ tag }}]</li>
	{% endfor %}
</ul>
{% endif %}

{% if post.description %}
<small class="text-secondary">Description:</small>
<p class="text-secondary ms-4">
	{{ post.description }}
</p>
{% endif %}
</div>
{% endif %}

{% endblock %}
